.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.yyyy {
  margin-left: 300px;
}

.row .col.s6 {
  width: 50%;
  margin-left: 94px;
  left: auto;
  right: auto;
}
.row .col.l6 {
  width: 50%;
  margin-left: 210px;
  left: auto;
  right: auto;
}
.page-footer {
  padding-top: 0px;
  color: #fff;
  background-color: darkslateblue;
}
nav .nav-wrapper {
  position: relative;
  height: 100%;
  background: darkslateblue;
}
