.btn {
  display: inline-block;
  border: 12px black;
  cursor: pointer;
  background: #ccc;
}
.btn:hover {
  background: black;
  color: white;
}
.itembtn:hover {
  background-color: azure;
  box-shadow: 3px 3px 10px black;
}
.itembtn {
  background-color: #f4f4f4;
  margin: 10px;
  padding: 20px;
  border-bottom: 1px #ccc dotted;
}
.link {
  color: whitesmoke;
  text-decoration: none;
}
.btnstyle {
  background: #f4f4f4;
  float: right;
  margin-bottom: 1px;
  padding: 1px 15px;
  display: inline-block;
  box-shadow: 1px 1px 9px black;
}
.btnstyle:hover {
  background: rgb(59, 44, 44);
  color: whitesmoke;
}
