nav.nav-extended {
  height: auto;
  background: linear-gradient(to top, #99ccff -17%, #3366ff 142%);
}

span.badge {
  min-width: 3rem;
  padding: 0 6px;
  margin-left: 14px;
  text-align: center;
  font-size: 1rem;
  line-height: 22px;
  height: 22px;
  color: #fff;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
